<% content_for :title, 'Show Account' %>
<h1><%= full_title(yield(:title))%></h1>

<% if flash[:notice] %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>
  

<p>
  <%= @user.name %>
</p>

<p>
  <%= @user.email %>
</p>

<%= link_to "back", users_path %>